.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 180px;
  animation: App-logo-pulse infinite 5s linear;
}
.App-logo.loading {
  animation: App-logo-shake infinite 0.25s ease-in-out;
}

@keyframes App-logo-shake {
  0% { transform: rotate(0deg); }
  33% { transform: rotate(-5deg); }
  66% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

@keyframes App-logo-pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  0% { transform: scale(1); }
}

.facts {
  margin: 0 2em;
  line-height: 2em;
}
